@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}

*,
*::before,
*::after,
*::-webkit-scrollbar {
  box-sizing: border-box;
  direction: rtl;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #7a8b5a;
  --color-primary-dark: #535e40;

  --color-saved-box: #e7e5a5b1;
  --color-wallet-box: #d4eca7c4;

  --color-secondary: #e2b45f;
  --color-secondary-dark: #967029;

  --color-success: #059669;
  --color-error: #dc2626;
  --color-warning: #d97706;
  --color-received: #059669;
  --color-paid: #dc2626;

  --color-background: #f2e8d5;
  --color-border: #e2e8f0;

  --color-text: #2f3624;
  --color-text-muted: #64748b;
}
