@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}

*,
*::before,
*::after,
*::-webkit-scrollbar {
  box-sizing: border-box;
  direction: rtl;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #166534;
  --color-primary-dark: #14532d;

  --color-secondary: #f59e0b;
  --color-secondary-dark: #d97706;

  --color-success: #059669;
  --color-error: #dc2626;
  --color-warning: #d97706;
  --color-received: #059669;
  --color-paid: #dc2626;

  --color-background: #ebece9;
  --color-border: #a5ada6;

  --color-text: #2f3624;
  --color-text-muted: #64748b;
}
